<a href="https://colab.research.google.com/github/sai1519/My-projects-and-programs/blob/My-Python-Assignments/Saishta's_Assignment_5_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Loading the data
data = pd.read_csv("Salaries.csv")
data.head()

<ipython-input-7-b340508a98e1>:6: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("Salaries.csv")

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [ ]:
data.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

## Compute how much total salary cost has increased from year 2011 to 2014

In [ ]:
# Calculating total salary fro 2011 and 2014.
total2011 = data[data["Year"]==2011]["TotalPay"].sum()
total2014 = data[data["Year"]==2014]["TotalPay"].sum()

# Compute the increase.
inc_sal = total2014 - total2011
print("Increment form 2011 to 2014: ", inc_sal)

Increment form 2011 to 2014:  -2594113030.72

##  Which Job Title in Year 2014 has highest mean salary?

In [ ]:
data2014 = data[data["Year"]==2014]
mean_sal_2014 = data2014.groupby("JobTitle")["TotalPay"].mean()
hsal2014 = mean_sal_2014.idxmax()
print("Job Title with the highest mean salary in 2014: ",hsal2014)

Job Title with the highest mean salary in 2014:  Chief Investment Officer

## How much money could have been saved in Year 2014 by stopping OverTimePay

In [ ]:
ot2014=data2014["OvertimePay"].sum()
ot2014

205918599.26999998

## Which are the top 5 common job in Year 2014 and how much do they cost SFO ?

In [ ]:
data.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [ ]:
fivejobs = data2014["JobTitle"].value_counts().head(5)
costsfo= data2014[data2014["JobTitle"].isin(fivejobs.index)]["TotalPay"].groupby(data2014["JobTitle"]).sum()
print("Top 5 jobs: ",costsfo)

Top 5 jobs:  JobTitle
Firefighter                     1.132836e+08
Public Svc Aide-Public Works    8.535454e+06
Registered Nurse                1.444065e+08
Special Nurse                   4.949874e+07
Transit Operator                1.520080e+08
Name: TotalPay, dtype: float64

## Who was the top earning employee across all the years?

In [ ]:
topemp = data[data["TotalPayBenefits"]==data["TotalPayBenefits"].max()]["EmployeeName"].iloc[0]
print("Top earning employee: ", topemp)

Top earning employee:  NATHANIEL FORD