<a href="https://colab.research.google.com/github/sai1519/My-projects-and-programs/blob/main/Saishta's_Assignment_2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# What is the output of the following code?
## nums = set([1,1,2,3,3,3,4,4])
## print(len(nums))
### Hint: Set consists unique element.

In [ ]:
nums = set([1,1,2,3,3,3,4,4])
print(len(nums))

4

# What will be the output?
## d = {"john":40, "peter":45}
## print(list(d.keys()))
### Hint: d.keys() is the function which will show keys.

In [ ]:
d = {"john":40, "peter":45}
print(list(d.keys()))

['john', 'peter']

# A website requires a user to input username and password to register. Write a program to check the validity of password given by user. Following are the criteria for checking password:
## 1. At least 1 letter between [a-z]
## 2. At least 1 number between [0-9]
## 1. At least 1 letter between [A-Z]
## 3. At least 1 character from [$#@]
## 4. Minimum length of transaction password: 6
## 5. Maximum length of transaction password: 12
### Hint: In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
p = input("Please enter a password: ")
x = True
import re
if not re.search("[a-z]",p):
  x = False
  print("Please enter at least 1 letter between [a-z]")
if not re.search("[0-9]",p):
  x = False
  print("Please enter at least 1 number between [0-9]")
if not re.search("[A-Z]",p):
  x = False
  print("Please enter at least 1 letter between [A-Z]")
if not re.search("[$#@]",p):
  x = False
  print("Please enter at least 1 character from [$#@]")
if len(p)<6 and len(p)>12:
  print("Your password is Valid")
else:
  print("Your Password is Invalid")

Please enter a password: Ibadat@786
Your Password is Invalid

# Write a for loop that prints all elements of a list and their position in the list.
## a = [4,7,3,2,5,9]
### Hint: Use Loop to iterate through list elements

In [ ]:
a=[4,7,3,2,5,9]
for x in a:
  print("Element: "+ str(x), "Index position: " + str(a.index(x)))

Element: 4 Index position: 0
Element: 7 Index position: 1
Element: 3 Index position: 2
Element: 2 Index position: 3
Element: 5 Index position: 4
Element: 9 Index position: 5

# Please write a program which accepts a string from console and print the characters that have even indexes.
## Example: If the following string is given as input to the program:
### H1e2l3l4o5w6o7r8l9d
### Then, the output of the program should be:
### Helloworld

In [ ]:
string = input("Please enter your string: ")
for x in string:
  if (string.index(x))%2==0:
    print(x)

Please enter your string: H1e2l3l4o5w6o7r8l9d
H
e
l
l
o
w
o
r
l
d

# Please write a program which accepts a string from console and print it in reverse order.
## Example: If the following string is given as input to the program:
### rise to vote sir
### Then, the output of the program should be:
### ris etov ot esir

In [ ]:
xx = input("Please enter your string: ")
yy = []
yy = xx[ : :-1]
print(yy)

Please enter your string: hello my name is sai
ias si eman ym olleh

# Please write a program which count and print the numbers of each character in a string input by console.
## Example: If the following string is given as input to the program:
### abcdefgabc
### Then, the output of the program should be:
### a,2
### c,2
### b,2
### e,1
### d,1
### g,1
### f,1

In [ ]:
string= input("Please enter your string: ")
empty=""
for x in string:
  if x not in empty:
    print(x,",", string.count(x))
    empty = empty + x

Please enter your string: saishta
s , 2
a , 2
i , 1
h , 1
t , 1

# With two given lists [1,3,6,78,35,55] and [12,24,35,24,88,120,155], write a program to make a list whose elements are intersection of the above given lists.

In [ ]:
list1 = set([1,3,6,78,35,55])
list2 = set([12,24,35,24,88,120,155])
list3 = []
list3 = list1.intersection(list2)
print(list3)

{35}

# By using list comprehension, please write a program to print the list after removing the value 24 in [12,24,35,24,88,120,155].

In [ ]:
list1 = [12,24,35,24,88,120,155]
list2 = [x for x in list1 if x!=24]
list2

[12, 35, 88, 120, 155]

# By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [ ]:
list0 = [12,24,35,70,88,120,155]
list3 = [y for (x,y) in enumerate(list0) if x not in (0,4,5)]
list3

[24, 35, 70, 155]

# By using list comprehension, please write a program to print the list after removing delete numbers which are divisible by 5 and 7 in [12,24,35,70,88,120,155]

In [ ]:
list4 = [12,24,35,70,88,120,155]
list5 = [x for x in list4 if not x%5==0 & x%7==0]
list5

[12, 24, 88]

# Write a program to compute 1/2+2/3+3/4+...+n/n+1 with a given n input by console (n>0).
## Example:
## If the following n is given as input to the program:
### 5
## Then, the output of the program should be:
### 3.55

In [ ]:
x = int(input("Please enter your number: "))
sum = 0
for y in range(1,x+1):
  sum = sum + (x/(x+1))
print("Result:",round(sum,2))

Please enter your number: 8
Result: 7.11